html {
  position: fixed;
  display: grid;
  place-items: center;
  inset: 0;
}

body {
  width: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

h1 {
  width: 100%;
  text-align: center;
  animation: fade 1s;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

img {
  width: 4rem;
  height: 4rem;
}

@media (prefers-color-scheme: light) {
  html {
    background-color: #ffffff;
    color: #000000;
  }

  img {
    filter: invert(1);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #000000;
    color: #ffffff;
  }
}
